<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Un error ocurrió al intentar procesar su petición.</h2>

<h3>Development Mode</h3>

<p>
    Al cambiar a <strong>Development enviroment</strong> se mostrará información más detallada sobre el error ocurrido.
</p>
<p>
    <strong>El entrono de desarrollo no debe estar habilitado para aplicaicones implementadas.</strong>
    Puede dar lugar a que se muestre información condifencial de excepciones a los usuarios finales.
    Para la depuración local, habilite el entorno <strong>Development enviroment</strong> configurando la variable de entorno 
    <strong>ASPNETCORE_ENVIROMENT</strong> a <strong>Development</strong>
    y reiniciando la aplicación.
</p>